In [1]:

import pandas as pd

In [2]:
df=pd.read_csv(r"c:\Users\Hp\Downloads\hospital_data_professional.csv")

In [3]:
df.head()

,patient_id,name,age,gender,department,admission_date,discharge_date,bill_amount,outcome,treatment_type,doctor_assigned,insurance_status,readmission_flag,payment_status
0,1,Patient_1,4,F,Orthopedics,2025-11-24,2025-11-28,59513.0,Recovered,Surgery,Dr. Iyer,Insured,0,Paid
1,2,Patient_2,4,M,Gastroenterology,2025-09-16,2025-10-06,171363.0,Critical,Checkup,Dr. Mehta,Uninsured,0,Paid
2,3,Patient_3,36,M,Orthopedics,2025-08-05,2025-08-16,89236.0,Recovered,Checkup,Dr. Sharma,Uninsured,0,Partial
3,4,Patient_4,16,F,Cardiology,2025-08-24,2025-09-11,145714.0,Recovered,Therapy,Dr. Rao,Insured,0,Paid
4,5,Patient_5,13,F,Neurology,2025-02-10,2025-02-18,119858.0,Recovered,Therapy,Dr. Mehta,Uninsured,0,Partial

In [4]:
print(df.shape)

(500, 14)

In [5]:
print(df.columns)

Index(['patient_id', 'name', 'age', 'gender', 'department', 'admission_date',
       'discharge_date', 'bill_amount', 'outcome', 'treatment_type',
       'doctor_assigned', 'insurance_status', 'readmission_flag',
       'payment_status'],
      dtype='object')

In [6]:
print(df.info)

<bound method DataFrame.info of      patient_id         name  age gender        department admission_date  \
0             1    Patient_1    4      F       Orthopedics     2025-11-24
1             2    Patient_2    4      M  Gastroenterology     2025-09-16
2             3    Patient_3   36      M       Orthopedics     2025-08-05
3             4    Patient_4   16      F        Cardiology     2025-08-24
4             5    Patient_5   13      F         Neurology     2025-02-10
..          ...          ...  ...    ...               ...            ...
495         496  Patient_496   86      F        Gynecology     2025-09-06
496         497  Patient_497   46      F        Gynecology     2025-01-25
497         498  Patient_498   21      M        Cardiology     2025-12-08
498         499  Patient_499   19      F        Gynecology     2025-06-12
499         500  Patient_500    1      F  Gastroenterology     2025-06-13

    discharge_date  bill_amount    outcome treatment_type doctor_assigned  \
0       2025-11-28      59513.0  Recovered        Surgery        Dr. Iyer
1       2025-10-06     171363.0   Critical        Checkup       Dr. Mehta
2       2025-08-16      89236.0  Recovered        Checkup      Dr. Sharma
3       2025-09-11     145714.0  Recovered        Therapy         Dr. Rao
4       2025-02-18     119858.0  Recovered        Therapy       Dr. Mehta
..             ...          ...        ...            ...             ...
495     2025-09-25      80713.0  Recovered        Therapy       Dr. Mehta
496     2025-01-30      44611.0  Recovered     Medication        Dr. Iyer
497     2025-12-13      11787.0   Deceased     Medication      Dr. Kapoor
498     2025-06-24     142522.0   Deceased        Therapy      Dr. Sharma
499     2025-06-18     185929.0  Recovered        Therapy         Dr. Rao

    insurance_status  readmission_flag payment_status
0            Insured                 0           Paid
1          Uninsured                 0           Paid
2          Uninsured                 0        Partial
3            Insured                 0           Paid
4          Uninsured                 0        Partial
..               ...               ...            ...
495        Uninsured                 0        Pending
496        Uninsured                 0           Paid
497        Uninsured                 0           Paid
498          Insured                 0        Pending
499          Insured                 0        Partial

[500 rows x 14 columns]>

In [7]:
print(df.describe())

       patient_id        age    bill_amount  readmission_flag
count  500.000000  500.00000     488.000000        500.000000
mean   250.500000   45.45800  104426.565574          0.080000
std    144.481833   26.37665   59907.582005          0.271565
min      1.000000    1.00000    2376.000000          0.000000
25%    125.750000   22.00000   48178.500000          0.000000
50%    250.500000   43.00000  109178.500000          0.000000
75%    375.250000   69.00000  160644.500000          0.000000
max    500.000000   90.00000  199492.000000          1.000000

In [8]:
print(df.isnull().sum())

patient_id           0
name                 0
age                  0
gender               0
department           0
admission_date       0
discharge_date       0
bill_amount         12
outcome              0
treatment_type       0
doctor_assigned      9
insurance_status     0
readmission_flag     0
payment_status       0
dtype: int64

In [9]:
print(df.duplicated().sum())

0

In [10]:
print(df["department"].value_counts())

department
Cardiology          79
Gastroenterology    77
Gynecology          76
Emergency           76
Oncology            67
Neurology           63
Orthopedics         62
Name: count, dtype: int64

In [11]:
print(df["outcome"].value_counts())

outcome
Recovered    371
Critical     104
Deceased      25
Name: count, dtype: int64

In [12]:
print(df["insurance_status"].value_counts())

insurance_status
Uninsured    263
Insured      237
Name: count, dtype: int64

In [13]:
#avg bill
print(df.groupby('department')["bill_amount"].mean())

department
Cardiology          111840.538462
Emergency           106602.921053
Gastroenterology    100775.453333
Gynecology          108034.500000
Neurology           101211.854839
Oncology             98040.984375
Orthopedics         102432.442623
Name: bill_amount, dtype: float64

In [14]:
#count of patients by outcomes
print(df['outcome'].value_counts())

outcome
Recovered    371
Critical     104
Deceased      25
Name: count, dtype: int64

In [15]:
print(df['bill_amount'].isnull().sum())

12

In [16]:
#replace missing bill amount with median bill amount of respective department
df['bill_amount']=df.groupby('department')['bill_amount'].transform(lambda x: x.fillna(x.median()))

In [17]:
print(df['bill_amount'].isnull().sum())

0

In [18]:
#handiling missing doctor_name with mode
df['doctor_assigned']=df['doctor_assigned'].fillna('Unknown')

In [19]:
#fix datatypes
df['admission_date']=pd.to_datetime(df['admission_date'])

In [20]:
#consistant spacing
cat_cols=['gender','department','outcome','treatment_type','insurance_status']
for col in cat_cols:
    df[col]=df[col].str.strip().str.title()

In [21]:
pd.to_datetime(df['admission_date'])

0     2025-11-24
1     2025-09-16
2     2025-08-05
3     2025-08-24
4     2025-02-10
         ...
495   2025-09-06
496   2025-01-25
497   2025-12-08
498   2025-06-12
499   2025-06-13
Name: admission_date, Length: 500, dtype: datetime64[ns]

In [22]:
df["admission_date"] = pd.to_datetime(df["admission_date"])
df["discharge_date"] = pd.to_datetime(df["discharge_date"])

df["stay_days"] = (df["discharge_date"] - df["admission_date"]).dt.days

In [23]:
print(df[['admission_date','discharge_date','stay_days']].head())

  admission_date discharge_date  stay_days
0     2025-11-24     2025-11-28          4
1     2025-09-16     2025-10-06         20
2     2025-08-05     2025-08-16         11
3     2025-08-24     2025-09-11         18
4     2025-02-10     2025-02-18          8

In [24]:
df['age_group']=pd.cut(df['age'],bins=(0,15,30,45,60),labels=['Child','Youth','Adult','Senior'])
print(df[['age','age_group']].head())

   age age_group
0    4     Child
1    4     Child
2   36     Adult
3   16     Youth
4   13     Child

In [25]:
df["cost_category"] = pd.cut(
    df["bill_amount"],
    bins=[0,30000,70000,120000,300000],
    labels=["Low","Medium","High","Very High"]
)
print(df[['bill_amount','cost_category']].head())

   bill_amount cost_category
0      59513.0        Medium
1     171363.0     Very High
2      89236.0          High
3     145714.0     Very High
4     119858.0          High

In [26]:
df['readmission_risk']=df['readmission_flag'].map({0:'No',1:'yes'})
print(df[['readmission_flag','readmission_risk']].head())
# Export cleaned data

   readmission_flag readmission_risk
0                 0               No
1                 0               No
2                 0               No
3                 0               No
4                 0               No

In [27]:
df.to_csv(r"c:\Users\Hp\Downloads\hospital_data_cleaned.csv",index=False)

In [28]:
cleaned_data=pd.read_csv(r"c:\Users\Hp\Downloads\hospital_data_cleaned.csv")

In [29]:
#Exploratory Data Analysis (EDA) & KPIs
#overall dataset health
cleaned_data.info()
cleaned_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   patient_id        500 non-null    int64
 1   name              500 non-null    object
 2   age               500 non-null    int64
 3   gender            500 non-null    object
 4   department        500 non-null    object
 5   admission_date    500 non-null    object
 6   discharge_date    500 non-null    object
 7   bill_amount       500 non-null    float64
 8   outcome           500 non-null    object
 9   treatment_type    500 non-null    object
 10  doctor_assigned   500 non-null    object
 11  insurance_status  500 non-null    object
 12  readmission_flag  500 non-null    int64
 13  payment_status    500 non-null    object
 14  stay_days         500 non-null    int64
 15  age_group         328 non-null    object
 16  cost_category     500 non-null    object
 17  readmission_risk  500 non-null    object
dtypes: float64(1), int64(4), object(13)
memory usage: 70.4+ KB

       patient_id        age    bill_amount  readmission_flag   stay_days
count  500.000000  500.00000     500.000000        500.000000  500.000000
mean   250.500000   45.45800  104411.372000          0.080000   10.916000
std    144.481833   26.37665   59192.033892          0.271565    5.608909
min      1.000000    1.00000    2376.000000          0.000000    1.000000
25%    125.750000   22.00000   49647.500000          0.000000    6.000000
50%    250.500000   43.00000  105249.500000          0.000000   11.000000
75%    375.250000   69.00000  159729.250000          0.000000   16.000000
max    500.000000   90.00000  199492.000000          1.000000   20.000000

In [30]:
#length of stay
cleaned_data["discharge_date"] = pd.to_datetime(cleaned_data["discharge_date"])
cleaned_data["admission_date"] = pd.to_datetime(cleaned_data["admission_date"])
cleaned_data['length_of_stay'] = (cleaned_data["discharge_date"] - cleaned_data["admission_date"]).dt.days
print(cleaned_data["length_of_stay"])

0       4
1      20
2      11
3      18
4       8
       ..
495    19
496     5
497     5
498    12
499     5
Name: length_of_stay, Length: 500, dtype: int64

In [31]:
cleaned_data['length_of_stay']=pd.to_numeric(cleaned_data['length_of_stay'],errors='coerce')
cleaned_data['bill_amount']=pd.to_numeric(cleaned_data['bill_amount'],errors='coerce')
cleaned_data['readmission_risk']=cleaned_data['readmission_risk'].astype('category')

In [32]:
dept_kpi=cleaned_data.groupby('department').agg(patients=('patient_id','count'),
                                               avg_bill=('bill_amount','mean'),
                                               avg_length_of_stay=('length_of_stay','mean')).sort_values('patients',ascending=False)

In [33]:
print(dept_kpi)

                  patients       avg_bill  avg_length_of_stay
department
Cardiology              79  111962.012658           11.620253
Gastroenterology        77  100696.844156           10.597403
Emergency               76  106602.921053           10.407895
Gynecology              76  107836.000000           10.644737
Oncology                67   98052.761194           10.029851
Neurology               63  101273.952381           11.968254
Orthopedics             62  102578.677419           11.258065

In [34]:
cost_counts = cleaned_data["cost_category"].value_counts()
cost_percent = cleaned_data["cost_category"].value_counts(normalize=True) * 100

print("Counts:\n", cost_counts)
print("\nPercentages:\n", cost_percent)

Counts:
 cost_category
Very High    214
High         118
Medium       100
Low           68
Name: count, dtype: int64

Percentages:
 cost_category
Very High    42.8
High         23.6
Medium       20.0
Low          13.6
Name: proportion, dtype: float64

In [35]:
cleaned_data.to_csv(r"c:\Users\Hp\Downloads\hospital_data_eda.csv",index=False)

In [36]:
eda=pd.read_csv(r"c:\Users\Hp\Downloads\hospital_data_eda.csv")

In [37]:
#pivot table of patients by department and age group
pivot_patients=pd.pivot_table(eda,values='patient_id',index='department',columns='age_group',aggfunc='count',fill_value=0)
pivot_patients

age_group         Adult  Child  Senior  Youth
department
Cardiology           12     10      11     15
Emergency             8     15       8     16
Gastroenterology     15     12      13     17
Gynecology           12      9      15     18
Neurology            11     12       8     10
Oncology              8     15       4     10
Orthopedics           9     11      10     14

In [38]:
pivot_bill=pd.pivot_table(eda,values='bill_amount',index='department',columns='cost_category',aggfunc='mean',fill_value=0)
pivot_bill

cost_category              High           Low        Medium      Very High
department
Cardiology         99050.571429  10340.230769  47350.181818  165927.219512
Emergency          99152.000000  20424.727273  46784.000000  159302.611111
Gastroenterology   96067.666667  14069.000000  50173.875000  163249.846154
Gynecology         93062.809524  12150.857143  49752.466667  163935.575758
Neurology          99109.250000  15552.625000  46717.294118  164320.500000
Oncology           97532.153846  13691.416667  51221.533333  161814.703704
Orthopedics       101261.250000  16864.333333  45322.750000  161761.840000

In [41]:
#Executive KPI Summary
kpis={
    'Total Patients': eda['patient_id'].nunique(),
    'Average Bill Amount': eda['bill_amount'].mean(),
    'Average Length of Stay': eda['length_of_stay'].mean()}

In [42]:
kpis

{'Total Patients': 500,
 'Average Bill Amount': np.float64(104411.372),
 'Average Length of Stay': np.float64(10.916)}